html,
body {
  -webkit-text-size-adjust: none;
  user-select: none;
  user-zoom: none;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
}
canvas-editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
